version: '3.8'
services:
  reverseProxy:
    container_name: gradeview-reverse-proxy
    image: ${CI_REGISTRY_IMAGE:-gradeview}/reverse-proxy:${REVERSE_PROXY_VERSION:-development}
    build: ./reverseProxy
    env_file:
      - .env
    volumes:
      - ${SOCKETS_DIR:-/dev/null}:/run/sockets
    environment:
      - REVERSE_PROXY_LISTEN=${REVERSE_PROXY_LISTEN:-0.0.0.0:80}
    networks:
      - frontend
      - concept_map_integration
    ports:
      - 80:80
    depends_on:
      - web
      - api
      - dtgui-progress-report
      - gradesync
  web:
    container_name: gradeview-web
    image: ${CI_REGISTRY_IMAGE:-gradeview}/web:${WEB_VERSION:-development}
    build: ./website/server
    env_file:
      - .env
    volumes:
      - ./website/server/build:/website/build
    environment:
      - REACT_APP_PROXY_SERVER=${REACT_APP_PROXY_SERVER}
      - PORT=${REACT_APP_PORT}
    networks:
      - frontend
    command: npm start
    restart: unless-stopped
  api:
    container_name: gradeview-api
    image: ${CI_REGISTRY_IMAGE:-gradeview}/server:${API_VERSION:-development}
    build: ./api
    volumes:
      - ./api:/api
      - /api/node_modules
    environment:
      - PORT=${API_PORT}
      - NODE_ENV=production
    env_file:
      - .env
    networks:
      - frontend
      - db
    command: npm run dev
    restart: unless-stopped
  dtgui-progress-report:
    container_name: dtgui-progress-report
    image: ${CI_REGISTRY_IMAGE:-dtgui}/progress-report:${PROGRESS_REPORT_VERSION:-development}
    build: ./progressReport
    env_file:
      - .env
    environment:
      - LISTEN_PORT=${PROGRESS_REPORT_PORT:-5000}
    networks:
      - concept_map_integration
    ports:
      - 8080:${PROGRESS_REPORT_PORT}
    restart: unless-stopped
  redis:
    image: redis:latest
    env_file:
      - .env
    networks:
      - db
    command: redis-server --requirepass ${REDIS_DB_SECRET:-password}
    ports:
      - 6379:6379
  dbcron:
    build: ./dbcron
    env_file:
      - .env
    volumes:
      - ./dbcron:/dbcron
    networks:
      - db
    depends_on:
      - redis
  gradesync:
    container_name: gradeview-gradesync
    build: ./gradesync
    env_file:
      - .env
    environment:
      - DATABASE_URL=${GRADESYNC_DATABASE_URL}
      - SERVICE_ACCOUNT_CREDENTIALS=${GRADESYNC_SERVICE_ACCOUNT_CREDENTIALS}
    networks:
      - frontend
      - db
    ports:
      - "8001:8000"
    command: uvicorn api.app:app --host 0.0.0.0 --port 8000 --reload
    restart: unless-stopped

networks:
  frontend:
    name: frontend
  concept_map_integration:
    name: concept_map_integration
  db:
    name: db
